apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-webapp-mysql
  labels:
    app.kubernetes.io/name: simple-webapp-mysql
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: simple-webapp-mysql
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: simple-webapp-mysql
    spec:
      serviceAccountName: clo835
      containers:
        - name: simple-webapp-mysql
          image: 466632150771.dkr.ecr.us-east-1.amazonaws.com/webapplication-image:imagev1
          ports:
            - containerPort: 81
          env:
            - name: GROUP_NAME
              valueFrom:
                configMapKeyRef:
                  name: webapp-config
                  key: group
          volumeMounts:
            - name: app-secret-volumes
              mountPath: "/opt/app-secret-volumes"
              readOnly: true
            - name: config-volume
              mountPath: /clo835/config
          envFrom:
            - secretRef:
                name: group11-secret
      volumes:
        - name: app-secret-volumes
          secret:
            secretName: group11_secret
        - name: config-volume
          configMap:
            name: group11-config
            items:
              - key: image_url
                path: image_url
